*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

:root {
  --bg-color: #212529;
  --bg-color-light: #ced4da;
  --bg-color-dark: #343a40;
  --text-color-light: #ffffff;
  --text-color-dark: #000000;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color-light);
  margin: 0;
  padding: 0;
}

button {
  font-weight: 600;
  font-size: 0.75rem;
  text-transform: uppercase;
  color: var(--text-color-dark);
  margin: 1em;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.125rem;
}

.notes {
  display: flex;
  flex-wrap: wrap;
}

.note {
  margin: 1em;
}

.main {
  background-color: var(--bg-color-light);
  color: var(--text-color-dark);
  padding: 1em;
}

.main * {
  margin: 0;
}

.tools {
  background-color: var(--bg-color-dark);
  padding: 0.5em 0;
  display: flex;
  justify-content: flex-end;
}

.tools img {
  margin-right: 1em;
  cursor: pointer;
}

textarea {
  font-family: 'Segoe UI', sans-serif;
  font-size: 1.5rem;
  background-color: #ced4da;
  padding: 0.5em;
  height: 20rem;
  border: none;
  outline: none;
}

.hidden {
  display: none;
}
